<section class="giscus mx-auto mt-10 w-full"></section>

<script src="https://giscus.app/client.js"
        data-repo="Threonine/astro-paper"
        data-repo-id="R_kgDOM3-RJg"
        data-category="Blog Post Comments"
        data-category-id="DIC_kwDOM3-RJs4Cjh9J"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="transparent_dark"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>